*{
    box-sizing: border-box;
}

body{
    width: 400px;
    margin: 1em auto;
    border: solid 2px black;
    padding: 1em;
}

input{
    width: 100%;
    padding: 0.5em;
    font-size: 110%;
}

button{
    background: red;
    border: none;
    color: white;
    padding: 1em 2em;
}
